{% extends 'main/base.html' %}

{% block content %}

    <div class="container jumbotron ">

        <h2 class="display-4">{{ article.title }}</h2>
        <h3 class="lead">Created At: {{ article.createdAt }}</h3>
        <h3 class="lead">Author(s):          
            {% for author in article.authors.all %}
            <a href="{% url 'get_author' author.id %}" class="lead">
                {{ author }},
            </a>
            {% endfor %}
        </h3>
        
        <hr class="my-4">
        
        <p>
            {{ article.content }}
        </p>
        
    </div>
{% endblock %}