{% extends 'main/base.html' %}

{% block content %}

    <div class="container jumbotron">

        <h1>Create Article </h1>
        {% if success %}
            Form submitted Successfully
        {% endif %}
        
        <form method="post">
                {% csrf_token %}
            <div class="container ">

                <div class="form-group">
                    <label for="Title">Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="Content">Content</label>
                    <textarea name="content" class="form-control" placeholder="Content"></textarea>
                </div> 
                <div class="form-group">
                    <select name="author" class="form-control" placeholder="Author" >
                        {% for author in authors %}
                            <option value="{{ author.id }}">{{ author.name }}</option>
                            {% endfor %}
                    </select>
                </div>           
                
                
                
                <button type ="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-dark">Reset</button>
            </div>
        </form>
    </div>


{% endblock %}